<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td th:text="${post.author}"></td>
                <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/posts/new">게시글 작성</a>
    </div>
</div>
</body>
</html> 